/* Estilos Globales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #495057;
    margin-top: 30px;
}

/* Formularios */
form {
    margin-bottom: 20px;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    color: #212529;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Botón */
button {
    display: block;
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

/* Sección de resultados */
#inscripcionesList {
    margin-top: 20px;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#inscripcionesList div {
    margin-bottom: 10px;
}

#inscripcionesList hr {
    border-top: 1px solid #ced4da;
}

p {
    margin: 0;
    color: #495057;
    font-size: 14px;
}

/* Responsividad */
@media (max-width: 576px) {
    form input[type="text"],
    form input[type="number"] {
        font-size: 14px;
        padding: 8px;
    }

    form input[type="submit"],
    button {
        font-size: 14px;
    }
}
